---
import Layout from '../../layouts/Layout.astro';
import Contacto from '../../components/Contacto.astro';
---

<Layout title='Roma Antica / CONTACTO'>
  <div class='p-5 flex gap-5 flex-col h-full justify-center'>
    <Contacto center={true} />
  </div>
</Layout>
