---
import Layout from '../../layouts/Layout.astro';
import carta from '../../../public/carta.jpeg';
import foto3 from '../../../public/foto3.jpeg';
import Subtitulo from '../../components/Subtitulo.astro';
import { ViewTransitions } from 'astro:transitions';
---

<Layout title='Roma Antica / CARTA'>
  <div class='p-5 flex gap-5 flex-col'>
    <Subtitulo title='CARTA' center={true} />
    <img src={carta.src} alt='foto1' />
    <img src={foto3.src} alt='foto3' />
  </div>
</Layout>
