---
import Layout from '../../layouts/Layout.astro';
import carta from '../../../public/carta.jpg';
import foto3 from '../../../public/foto3.jpg';
import Subtitulo from '../../components/Subtitulo.astro';
---

<Layout title='Roma Antica / CARTA'>
  <div class='p-5 flex gap-5 flex-col'>
    <Subtitulo title='CARTA' center={true} />
    <img src={carta.src} alt='foto1' />
    <img src={foto3.src} alt='foto3' />
  </div>
</Layout>
