---
const { text } = Astro.props;
---

<div class='flex justify-center p-5'>
  <p
    class='text-white font-bold py-3 rounded-2xl text-sm w-[210px] text-center bg-headerandfooter'
  >
    {text}
  </p>
</div>
