---
import pizza from '../../public/pizza.jpg';
import Subtitulo from './Subtitulo.astro';
---

<section>
  <Subtitulo title='OFERTAS' />
  <div class='text-center p-3'>
    <div class='bg-ofertas p-5 gap-3 rounded-2xl flex justify-between'>
      <img
        src={pizza.src}
        alt='pizza'
        class='rounded-xl h-[140px]'
        width='170'
      />
      <div class='flex flex-col gap-2 justify-between text-wrap'>
        <h2 class='font-bold text-headerandfooter text-lg'>
          PIZZA <br /> HAWAIANA
        </h2>
        <nav class='text-left pl-4 font-bold text-sm'>
          <li>PIÑA</li>
          <li>JAMON</li>
        </nav>
        <div class='flex justify-center'>
          <p
            class='text-white font-bold py-3 rounded-3xl text-sm w-[120px] h-9 bg-headerandfooter flex justify-center items-center'
          >
            COMPRAR
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
